@{
    ViewBag.Title = "EmployeeNotFound";
}

<h2>Employee Not Found</h2>
<p>Sorry the employee you were looking for no longer exists. Please go back to the main list</p>
<p>
    @Html.ActionLink("Back to list", "Index", "Employee")
</p>