@{
    ViewBag.Title = "Purple Management";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Start by choosing one of the following:</h3>
<ol class="round">
    <li class="one">
        <h5>View Teams</h5>
        <p>Note you need a team before you can make any employees</p>
        <p>@Html.ActionLink("Teams", "Index", "Teams")</p>
    </li>

    <li class="two">
        <h5>View Employees</h5>        
        <p>Note you need a team before you can make any employees</p>
        <p>@Html.ActionLink("Employees", "Index", "Employee")</p>
    </li>

    
</ol>
