@{
    ViewBag.Title = "DeleteFail";
}

<h2>DeleteFail</h2>

<p>
    You cannot delete a team that is associated with one or more employees.
</p>

<p>
    @Html.ActionLink("Back to list", "Index", "Teams")
</p>
