@{
    ViewBag.Title = "TeamNotFound";
}

<h2>Team Not Found</h2>
<p>Sorry the team you were looking for no longer exists. Please go back to the main list</p>
<p>
    @Html.ActionLink("Back to list", "Index", "Teams")
</p>